.daily-drinks {
    margin: 0 auto;
    max-width: 750px;
    padding-top: 22px;

    .daily-drinks-h1 {
        text-align: left;
        display: inline;
        font-style: italic;
    }
    
    .daily-drinks-body {
        margin-top: 22px;
        background-color: rgba(5, 19, 20, 1);
        border: 2px #ce4659 solid;
        padding: 20px 0;
    }
}