html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(6, 23, 27);
    color: rgb(205, 223, 226);

    .btn {
        border: 0;
        background-color: inherit;
        font-family: inherit;
        font-size: 18px;
        padding: 8px 18px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            color: #06171b !important;
        }
    }
}

* {
    box-sizing: border-box;
}